.top-image
  background-image: url('../../../assets/images/pink-flowers.jpg')
  background-size: cover
  background-position: center
  height: 31rem
  width: 100%
  object-fit: cover
  vertical-align: bottom
  z-index: 0
  border-bottom-left-radius: .5rem
  border-bottom-right-radius: .5rem
  opacity: 0
  animation: pictureSlide .7s forwards 1s

@keyframes pictureSlide
  0%
    opacity: 0
    transform: translateY(-30rem)
  1%
    opacity: 1
  100%
    opacity: 1
    transform: translateY(0rem)

.image-bg
  background: rgba(0, 0, 0, 0.303)
  height: 31rem
  width: 100%

.top-container
  justify-content: center
  display: flex
  flex-direction: column
  align-items: flex-end
  height: 100%
  margin-right: 3.8rem

.info-shade-container
  background: #00000080
  border-radius: 10px
  text-align: end
  animation: slide-me-left 1s forwards 2.5s
  opacity: 0
  padding: 1rem

@keyframes slide-me-left
  0%
    opacity: 0
    transform: translateX(-50rem) skew(20deg)
  100%
    opacity: 1
    transform: translateX(0rem) skew(0deg)

.top-name
  font-size: 4rem
  color: #c4c2c2
  font-family: nunito-bold

.top-local
  font-family: nunito-lighti
  font-size: 2.5rem
  color: #b1b1b1

.top-temp
  font-family: surf
  font-size: 3.7rem
  transform: rotate(-4deg)
  border-radius: 10px
  color: #07479b
  text-shadow: 2px 2px 3px #000000;
