.top-image
  background-image: url('../../../assets/images/beach.jpg')
  background-size: cover
  background-position: center
  height: 33vh
  width: 100%
  object-fit: cover
  vertical-align: bottom
  z-index: 0

.image-bg
  background: rgba(0, 0, 0, 0.303) 
  height: 33vh
  width: 100%

.top-container
  justify-content: center
  display: flex
  flex-direction: column
  align-items: flex-end
  height: 100%
  margin-right: 3.8rem

.top-name
  font-size: 4rem
  color: #c4c2c2 
  font-family: nunito-bold

.top-local
  font-family: nunito-lightI
  font-size: 2.5rem
  color: #161616

.bg-surfBaord
  background: url('../../../assets/images/surfBoard2.png')
  position: absolute
  height: 35rem
  width: 50rem
  transform: rotate(90deg)
  right: -7rem
  top: 8rem
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
  
.top-temp
  transform: rotate(270deg)
  font-family: surf
  font-size: 3.7rem
  margin-left: 2.5rem
  border-radius: 10px
  color: #5a27d3
