.top-image
  background-image: url('../../../assets/images/beach.jpg')
  background-size: cover
  background-position: center
  height: 33vh
  width: 100%
  object-fit: cover
  vertical-align: bottom
  z-index: 0

.image-bg
  background: rgba(0, 0, 0, 0.303) 
  height: 33vh
  width: 100%

.top-container
  justify-content: center
  display: flex
  flex-direction: column
  align-items: flex-end
  height: 100%
  margin-right: 3.8rem

.top-name
  font-size: 4rem
  color: #c4c2c2 
  font-family: nunito-bold

.top-local
  font-family: nunito-lightI
  font-size: 2.5rem
  color: #9e9e9e

.top-temp
  font-family: nunito-reg
  font-size: 3.7rem
  background: #1a1919
  border-radius: 10px
  color: #3e01cc
