.o-time
  text-align: start
  font-size: 14px
  margin: 15px
  width: 20%

.iconsWeather
  color: #6e0283
  width: 15%

.o-icon
  width: 50px
  height: 50px

.o-temp
  text-align: start
  margin-left: 10px
  width: 20%
  font-size: 25px
  font-family: Nunito-bold

.o-feelslike
  text-align: center
  font-size: 14px
  width: 25%
  color: #525252

.o-text
  text-align: start
  font-size: 14px
  width: 30%

.o-rain
  font-size: 12px 
  text-align: end
  margin-right: 10px
  width: 10%

@media (max-width: 1250px)
  .o-text
    width: 190px

@media (max-width: 1000px)
  .o-time
    margin: 5px
    font-size: 12px
  .o-temp
    margin-left: 0px
    font-size: 20px
  .o-feelslike
    font-size: 12px
  .o-text
    font-size: 12px
  .o-rain
    margin-right: 0px
    font-size: 12px
