.o-time
  text-align: start
  margin: 15px
  width: 50px

.o-temp
  text-align: start
  margin-left: 10px
  width: 100px
  font-size: 40px
  font-family: Nunito-bold

.o-feelslike
  text-align: center
  width: 200px
  font-size: 14px
  color: #525252

.o-text
  text-align: start
  width: 120px
  font-size: 20px

.o-rain
  text-align: end
  margin-right: 30px
  width: 100px
