.overview-container
  display: flex
  align-items: center
  background: #262626
  height: 100px
  width: 50vw
  border: 1px
  border-style: solid
  border-color: #6a6a6a
  border-left: none

.more-data
  overflow: hidden
  transition: height .5s
  height: 0px

.more-data-open
  transition: height 1s
  height: 18vh

p
  padding: 5px
  color: #494949
