.overview-container
  display: flex
  align-items: center
  justify-content: center
  background: #262626
  height: 100px
  width: 90%
  border: 1px
  border-style: solid
  border-color: #6a6a6a

.hour-container-center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 10px

.more-data
  overflow: hidden
  transition: height .5s
  height: 0px
  width: 100%

.more-data-open
  transition: height 1s
  height: 18vh
p
  padding: 5px
  color: #494949

@media (max-width: 600px)
  .overview-container
    width: 90%
    height: 50px
