.overview-container
  display: flex
  align-items: center
  justify-content: center
  background: #262626
  width: 65rem
  border: 1px
  border-style: solid
  border-color: #6a6a6a

.hour-container-center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 1.2rem

.more-data
  overflow: hidden
  width: 100%
  transition: 1s max-height ease-out
  max-height: 0vh

.more-data-open
  transition: 1s max-height ease-in
  max-height: 100vh

p
  padding: .7rem
  color: #494949

@media (max-width: 1000px)
  .overview-container
    width: 50rem
  .more-data
    width: 50rem

@media (max-width: 820px)
  .overview-container
    width: 80%
  .more-data
    width: 80%

@media (max-width: 620px)
  .overview-container
    width: 90vw
  .more-data
    width: 90vw
