.top-container
  padding-left: 5rem
  position: absolute

.top-icon
  height: 15rem
  width: 15rem
  margin-top: 3rem
  margin-left: -20px

.top-desc
  font-size: 2rem
  margin-top: -20px
  font-family: nunito-reg
  color: #c0c0c0

.top-name
  font-size: 4rem
  font-family: nunito-bold
  color: #c0c0c0
  margin-top: 20px

.top-local
  font-size: 1.6rem
  margin-left: 5rem
  margin-top: .5rem

.top-temp
  position: absolute
  top: 2rem
  right: 5rem
  margin-top: 2rem
  font-size: 6rem
  color: #c0c0c0
  font-family: oleo-bold

.top-hr
  width: 30rem
  max-height: .05rem

@media (min-width: 900px)
  .top-temp
    position: relative
    margin-left: 5rem
