.top-container
  z-index: 3030303003
  width: 100%
  height: 30rem
  background: rgba(159, 96, 0, .3)

.top-inner-container
  margin-left: 5rem

.top-icon
  height: 12rem
  width: 12rem
  margin-top: 3rem
  margin-left: -20px

.top-desc
  font-size: 2rem
  margin-top: -15px
  font-family: nunito-reg
  color: #c0c0c0

.top-name
  font-size: 4rem
  font-family: nunito-bold
  color: #c0c0c0
  margin-top: 20px

.top-local
  font-size: 1.6rem
  margin-left: 5rem
  margin-top: .5rem

.top-temp
  position: absolute
  top: 4rem
  right: 3rem
  font-size: 6rem
  color: #c0c0c0
  font-family: oleo-bold

.top-hr
  width: 30rem
  max-height: .05rem

@media (min-width: 1000px)
  .top-temp
    position: relative
    margin-left: 5rem
  .top-icon
    height: 15rem
    width: 15rem
