.top-container
  width: 100%
  padding-left: 10rem

.top-icon
  height: 10rem
  width: 10rem
  margin-top: 3rem
  margin-left: -20px

.top-desc 
  font-size: 2rem
  margin-top: -20px

.top-name
  font-size: 4rem
  font-family: nunito-bold
  color: #e2e2e2
  margin-top: 20px

.top-local
  font-size: 1.6rem
  margin-left: 5rem
  margin-top: .5rem

.top-temp
  position: absolute
  top: 2rem
  right: 5rem
  margin-top: 2rem
  font-size: 6rem
  color: #e9e9e9
  font-family: oleo-bold

.top-hr
  width: 30rem
  max-height: .05rem