.top-info
  text-align: end
  width: 100%
  font-size: 1.6rem

.bottom-info
  text-align: end
  margin-top: 4rem
  font-size: 1.6rem

.current-info-words
  font-size: 1.6rem

p
  padding: .5rem
  color: #494949

// @media (max-width: 1300px)

@media (max-width: 1100px)
  .current-info-words

@media (max-width: 950px)
  .current-info-words
  .top-info
    width: 100%
  p
    font-size: 1.6rem

@media (max-width: 600px)
  .top-info
    width: 100%
  .current-info-words
  p
    font-size: 1.4rem
