.top-info
  text-align: end
  width: 100%
  font-size: 2rem
  p
    color: #ffffff

.bottom-info
  text-align: end
  margin-top: 4rem
  font-size: 2rem
  p
    color: #ffffff

.current-info-words
  font-size: 2rem
  p
    color: #ffffff

p
  padding: .6rem
  color: #494949
  margin-left: 1.2rem
  margin-right: 1.2rem

@media (max-width: 1100px) 
  .current-info-words

@media (max-width: 950px)
  .current-info-words
  .top-info
    width: 100%
  p
    font-size: 2rem

@media (max-width: 600px)
  .top-info
    width: 100%
  .current-info-words
  p
    font-size: 1.8rem
