.current-section
  display: flex
  justify-content: center

.current-container 
  width: 20vw
  background-color: #3a3a3a 
  border-radius: 5px 

.current-header
  text-align: center
  padding: 2vh
  font-size: 3rem
  font-family: Nunito-bold
 
.current-info
  display: flex
  justify-content: center
  margin-bottom: 1rem

@media (max-width: 1380px)
  .current-container
    width: 25vw

@media (max-width: 1100px)
  .current-container
    width: 35vw

@media (max-width: 950px)
  .current-container
    width: 40vw

@media (max-width: 800px)
  .current-container
    width: 50vw

@media (max-width: 501px)
  .current-container
    margin-left: 10vw
    width: 60vw
  .current-header
    font-size: 2rem