.current-section
  display: flex
  justify-content: center

.current-container 
  width: 35rem
  background-color: #3a3a3a 
  border-radius: 5px 

.current-header
  text-align: center
  padding: 2rem
  font-size: 3.8rem
  font-family: Nunito-bold
  
.current-info
  display: flex
  justify-content: center
  margin-bottom: 1.2rem

@media (max-width: 1380px)
  .current-container
    width: 30rem

@media (max-width: 800px)
  .current-section
    margin-left: 10%
  .current-container
    width: 35rem

@media (max-width: 501px)
  .current-container
    margin-left: 0%
    width: 35rem
  .current-header
    font-size: 2.5rem