.current-section
  display: flex
  justify-content: center
  // background-color: #181818

.current-container 
  margin: 20px
  width: 20vw
  background-color: #3a3a3a
  border-radius: 5px 

.current-header
  text-align: center
  padding: 2vh
  font-size: 30px
  font-family: Nunito-bold
 
.current-info
  display: flex
  justify-content: center
  margin-bottom: 10px

@media (max-width: 1300px)
  .current-container
    width: 25vw

@media (max-width: 1100px)
  .current-container
    width: 35vw

@media (max-width: 950px)
  .current-container
    width: 40vw

@media (max-width: 800px)
  .current-container
    width: 50vw

@media (max-width: 501px)
  .current-container
    margin: 0px
    width: 80vw
  .current-header
    font-size: 20px