.dailyD-container
  height: 100vh
  width: 30rem
  top: 0px
  position: absolute
  backdrop-filter: blur(5px)
  right: 0px

.dailyD-bg
  background: rgba(0, 0, 0, .3)
  height: 100%
  width: 100%
  position: absolute
  z-index: -1
