.nav-input
  position: absolute
  width: 666px
  height: 108px
  background: #ECECEC
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25)
  border-radius: 100px

.nav-button
  width: 350px
  height: 104px
  background: linear-gradient(180deg, #E0B003 0%, rgba(255, 255, 255, 0) 100%), #FFD600
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25)
  border-radius: 22px
