.nav-container
  height: 16rem
  display: flex
  align-items: flex-end
  justify-content: center

.setting-toggle-container
  position: absolute
  right: 4rem
  top: 30px
  display: flex
  align-items: center
  p
    font-size: 2rem
    font-family: oleo-bold
    margin-right: 2rem

.outer-box
  height: 4rem
  border-radius: 100px
  width: 8rem
  background: white

.inner-box
  height: 100%
  width: 4rem
  background: red
  border-radius: 100%

.nav-input
  width: 25rem
  height: 4rem
  background: #ECECEC
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25)
  border-radius: 100px
  margin-right: 5rem
  border: none

.nav-button
  width: 12rem
  height: 4rem
  background: linear-gradient(180deg, #E0B003 0%, rgba(255, 255, 255, 0) 100%), #FFD600
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25)
  border-radius: 10px
  font-family: oleo-reg
  font-size: 2rem
  border: none
