.circle-container
  display: flex
  flex-direction: column
  align-self: center
  margin-left: 5vw

.circle-items
  display: flex
  justify-content: center
  align-items: center 
  height: 30rem
  width: 30rem
  background: url('../../../../assets/images/beachBall.png')
  background-size: cover
  border-radius: 100%
  background-position: 65%
  flex-direction: column
 
.circle-temp
  font-size: 5rem
  font-family: Nunito-bold
  color: #353535

.feels-like
  font-size: 1.5rem
  font-family: Nunito-bold
  color: #242424
  
p
  padding: .6rem
  color: #494949

@media (max-width: 800px)
  .circle-items
    display: none
