.circle-container
  display: flex
  flex-direction: column
  align-self: center
  margin-left: 5vw

.circle-items
  display: flex
  justify-content: center
  align-items: center
  height: 25rem
  width: 25rem
  background: linear-gradient(90deg, rgba(84,84,84,1) 0%, rgba(58,58,58,1) 100%)
  box-shadow: 0px 0px 15px 1px #0f68dc
  border-radius: 100%
  flex-direction: column
  animation: slide-left 2s forwards 2s
  opacity: 0

@keyframes slide-left
  0%
    opacity: 0
    transform: translateX(500px) skewX(-20deg)
  100%
    opacity: 1
    transform: translateX(0px) skewX(0deg)

.circle-temp
  font-size: 5rem
  font-family: Nunito-bold

.feels-like
  font-size: 1.5rem
  color: #a5a5a5

p
  padding: .6rem
  color: #494949

@media (max-width: 800px)
  .circle-items
    display: none
