.circle-container
  display: flex
  flex-direction: column
  align-self: center
  margin-right: 5vw

.circle-items
  display: flex
  justify-content: center
  align-items: center
  background-color: #444444
  height: 30vh
  width: 15vw
  border-radius: 100%
  flex-direction: column

.circle-temp
  font-size: 40px
  font-family: Nunito-bold

p
  padding: 5px
  color: #494949
