.daily-position
  margin-top: 10vh
  margin-bottom: 10vh

.daily-top-header
  text-align: center
  padding: 2rem
  font-size: 2.8rem
  font-family: Nunito-bold

.daily-outer-container
  display: flex
  justify-content: center
  padding-bottom: 10rem

.daily-container
  background: rgba(53, 1, 158, .0)
  transition: 0.2s linear
  border-style: solid
  border-color: #4b4b4b
  border-width: 1px
  border-radius: 5px
  width: 18vw

.daily-container:hover
  transition: 0.5s linear
  opacity: 1
  background: #35019e

.daily-header
  text-align: center
  padding-bottom: 2rem
  font-size: 1.4rem
  height: 15rem

.daily-desc

.daily-date
  padding-top: 2rem
  font-size: 2.4rem
  font-family: Nunito-bold

.day-icon
  width: 5rem
  height: 5rem

@media (max-width: 1400px)
  .daily-container
    width: 25vw
  .daily-top-header
    font-size: 2rem
  .daily-date
    font-size: 1.8rem
    font-family: nunito-lightI
  .daily-header
    font-size: 1.2rem

@media (max-width: 1000px)
  .daily-container
    width: 30vw
    padding-bottom: 2rem
  .daily-header
    font-size: 1.2rem

@media (max-width: 730px)
  .daily-outer-container
    flex-direction: column
  .daily-container
    width: 99vw
    padding-bottom: 2rem
  .daily-header
    font-size: 1.2rem
