.daily-position
  margin-top: 10vh
  margin-bottom: 10vh

.daily-top-header
  text-align: center
  padding: 2rem
  font-size: 2.8rem
  font-family: Nunito-bold

.daily-outer-container
  display: flex
  margin-left: 2%
  padding-bottom: 10rem

.daily-container1,  .daily-container2,  .daily-container3
  background: rgba(53, 1, 158, .0)
  transition: 0.2s linear
  border-style: solid
  border-color: #4b4b4b
  border-width: 1px
  border-radius: 5px
  width: 33rem

.daily-container1
  background-position: 50%
.daily-container3
  background-position: 20%

.daily-container1:hover
  background: url('../../../assets/images/s3B.jpg')
  background-size: cover
  transition: background-position 1s
  background-position: 20%

.daily-container2:hover
  background: url('../../../assets/images/s11B.jpg')
  background-size: cover
  transition: background-position 1s
  background-position: 50%

.daily-container3:hover
  background: url('../../../assets/images/s9B.jpg')
  background-size: cover
  transition: background-position 1s
  background-position: 50%

.daily-header
  text-align: center
  padding-bottom: 2rem
  font-size: 1.4rem
  height: 15rem

.daily-desc

.daily-date
  padding-top: 2rem
  font-size: 2.4rem
  font-family: Nunito-bold

.day-icon
  width: 5rem
  height: 5rem

@media (max-width: 1400px)
  .daily-container
    width: 25vw
  .daily-top-header
    font-size: 2rem
  .daily-date
    font-size: 1.8rem
    font-family: nunito-lightI
  .daily-header
    font-size: 1.2rem

@media (max-width: 1050px)
  .daily-container1,  .daily-container2,  .daily-container3
    width: 30vw
    padding-bottom: 2rem
  .daily-header
    font-size: 1.2rem

@media (max-width: 730px)
  .daily-outer-container
    flex-direction: column
  .daily-container1,  .daily-container2,  .daily-container3
    max-width: 100%
    width: 100vw
    padding-bottom: 2rem
    border-right-width: 0px
    border-left-width: 0px
    border-radius: 0px
  .daily-header
    font-size: 1.2rem
  .daily-container1:hover
    background-position: 5% 100%
  .daily-container2:hover
    background-position: 50% 20%
  .daily-container3:hover
    background-position: 50% 0%
