.close-modal-out
  position: relative
  height: 100vh
  width: 100vw

.modal
  display: flex
  flex-direction: column
  position: absolute
  right: -.7rem
  top: 1rem
  justify-content: center
  align-items: center
  background: #2b2b2b
  height: 100px
  width: 7rem

.items-scroll
  display: flex
  flex-direction: column
  position: absolute
  align-items: center
  justify-content: center

.scroll-link-M 
  margin-top: .5rem
  margin-bottom: .5rem
  color: #e2e2e2
  border-bottom: 1px solid #5a5a5a
  width: 7rem
  p
    font-size: 1.2rem

.menu-position
  position: absolute
  right: 0px
