.close-modal-out
  position: relative
  height: 100vh
  width: 100vw

.modal
  display: flex
  flex-direction: column
  position: absolute
  right: -7px
  top: 10px
  justify-content: center
  align-items: center
  background: #2b2b2b
  height: 100px
  width: 70px

.items-scroll
  display: flex
  flex-direction: column
  position: absolute
  align-items: center
  justify-content: center

.scroll-link-M
  margin-top: 5px
  margin-bottom: 5px
  color: #e2e2e2
  border-bottom: 1px solid #5a5a5a
  width: 70px
  p
    font-size: 12px

.menu-position
  position: absolute
  right: 0px
