.first-data-container
  display: flex
  justify-content: center
  margin-top: 10px

.second-data-container
  display: flex
  justify-content: center
  margin: 10px
  width: 17vw

p
  padding: 5px
  color: #494949
