.containerInfoHourly
  color: #cccccc
  background-color: #2b2a2a
  display: flex
  height: 18vh
  width: 100%
  justify-content: center
  overflow: hidden
  align-items: center

.first-data-container
  display: flex
  justify-content: center

.second-data-container
  display: flex
  justify-content: center
  margin: 10px
  margin-left: 5vw

.first-text
  text-align: start
  width: 100px

.first-data
  text-align: end

.second-text
  text-align: start
  width: 100px

.second-data
  text-align: end

.more-p
  font-size: 12px
  padding: 3px
  color: #8b8b8b

@media (max-width: 1000px)
  .containerInfoHourly
    justify-content: center
    align-items: center
    height: 100%
  .first-data-container
    width: 100%
    margin-top: 0px
  .second-data-container
    width: 100%
    margin: 0px
    margin-left: 5px
  .more-p
    font-family: nunito-reg
    padding: 2px
    font-size: 11px

@media (max-width: 450px)
  .containerInfoHourly
    flex-direction: column
    justify-content: flex-start
    height: 100%
  .first-data-container
    margin-top: 0px
  .second-data-container
    margin: 0px
    margin-left: 5px
  .more-p
    padding: 0px
    font-size: 12px
