.bottem-daily-container
  width: 100%
  z-index: 3
  position: absolute
  top: 30rem
  backdrop-filter: blur(5px)
  background: rgba(159, 96, 0, .3)

.bg-bottom-daily
  border-top-left-radius: 5rem
  border-top-right-radius: 5rem
  background: #000
  opacity: .3
  height: 100%
  width: 100%
  position: absolute
  z-index: -1