.bottem-daily-container
  height: 70vh
  width: 100%
  position: absolute
  bottom: 0px
  z-index: 3

.bg-bottom-daily
  border-top-left-radius: 5rem
  border-top-right-radius: 5rem
  background: #000
  opacity: .8
  height: 100%
  width: 100%
  position: absolute
  z-index: -1