.bottem-daily-container
  height: 60vh
  width: 100%
  position: absolute
  bottom: 0px
  z-index: 3

.bg-bottom-daily
  background: #000
  opacity: .8
  height: 100%
  width: 100%
  position: absolute
  z-index: 1

.daily-container
  height: 20rem
  width: 50rem
  background: yellow
  position: absolute
  z-index: 10000

.daily-header
  color: white
  font-size: 16px

.daily-date
  color: white
  font-size: 16px

.day-icon
  height: 100px
  width: 100px

.daily-desc
  color: white
  font-size: 16px
