.backgroundContainer
  background-color: #1a1a1a

.hourlyContainer
  display: flex
  flex-direction: row
  justify-content: center

.optionsText
  height: 30px
  font-family: Nunito-bold
  color: #827f7f
  font-size: 18px
  padding: 20px
  width: 12vw

.optionsOn
  color: #d8d8d8
  font-size: 19px

.textBelow
  height: 0px
  overflow: hidden
  transition: height .3s .7s
  font-family: Nunito-bold
  font-size: 30px
  color: #616161

.textOn
  transition: height .7s
  height: 30px

.optionsText:hover
  color: #d8d8d8
  font-size: 19px

.lineOff
  height: 1px

.lineOn
  height: 1px

.more-data
  height: 0px
  overflow: hidden
  transition: height .5s

.more-data-open
  height: 18vh
  transition: height 1s
