.backgroundContainer
  background-color: #181818
  display: flex
  flex-direction: column
  justify-content: center
  align-items: start

.hourlyContainerOuter
  display: flex
  justify-content: center
  align-items: center

.hourlyContainer
  display: flex
  flex-direction: column
  flex-direction: row
  justify-content: center
  text-align: center

.optionsText
  height: 30px
  font-family: Nunito-bold
  color: #acacac
  font-size: 18px
  padding: 20px
  width: 12vw
  cursor: pointer
  text-align: center

.optionsOn
  color: #801e1e
  font-size: 19px

.optionsText:hover
  color: #d8d8d8
  font-size: 19px

.lineOff
  height: 3px
  border-style: none
  background: #3900AC
  margin-bottom: 10px
  box-shadow: inset 0 250px 0 0 #e0e0e0
  transition: box-shadow 1s, height 1s

.lineOn
  height: 0px
  border-style: none
  background: #3900AC
  margin-bottom: 10px
  transition: box-shadow 1s, height .2s .7s

@media (max-width: 1000px)
  .optionsText
    font-size: 14px
  .optionsText:hover
    font-size: 15px

@media (max-width: 600px)
  .optionsText
    font-size: 10px
    margin-top: -10px
  .optionsText:hover
    font-size: 10px
  .lineOn
    margin-top: -20px
  .lineOff
    margin-top: -20px
