.backgroundContainer
  background-color: #181818
  display: flex
  flex-direction: column
  justify-content: center
  align-items: start

.hourlyContainerOuter
  display: flex
  justify-content: center
  align-items: center

.hourlyContainer
  display: flex
  flex-direction: column
  flex-direction: row
  justify-content: center
  text-align: center

.optionsText
  height: 3.7rem
  font-family: Nunito-bold
  color: #acacac
  font-size: 2rem
  padding: 2rem
  width: 12vw
  cursor: pointer
  text-align: center
  display: flex
  justify-content: center

.optionsOn
  color: #801e1e
  font-size: 2rem

.optionsText:hover
  color: #d8d8d8
  font-size: 2.1rem

.lineOff
  height: .2rem
  border-style: none
  background: #e0e0e0
  margin-bottom: 1.2rem
  box-shadow: inset 0 250px 0 0 #8C4B6C
  transition: box-shadow 1s, height 1s

.lineOn
  height: 0rem
  border-style: none
  background: #e0e0e0
  margin-bottom: 1.2rem
  transition: box-shadow 1s, height .2s .7s

@media (max-width: 1000px)
  .optionsText
    font-size: 1.4rem
  .optionsText:hover
    font-size: 1.5rem

@media (max-width: 600px)
  .optionsText
    width: 15vw
    font-size: 1.4rem
    margin-top: -1rem
  .optionsText:hover
    font-size: 1.5rem
  .lineOn
    margin-top: -2rem
  .lineOff
    margin-top: -2rem
