.navBar
  height: 5vh
  width: 100%
  background: #3900ac

.navIcons
  padding-left: 1.5vw
  padding-bottom: 30px

.navButton
  height: 30px
  width: 60px
  background-color: #7c0f0f
  border: none
  padding: none
  border-radius: 5px
  margin-left: 20px
  margin-right: 20px

.buttonContainer
  display: flex
  justify-content: flex-end
  margin-right: 100px
  height: 100%
  align-items: center