.navBar
  height: 5vh
  width: 100%
  background: #3900ac
  position: fixed
  top: 0px
  z-index: 100

.navIcons
  padding-left: 1.5vw
  padding-bottom: 30px

.navButton
  height: 30px
  width: 70px
  background-color: #222222
  border: none
  padding: none
  border-radius: 10px
  margin-left: 60px
  color: #3c3c3c

.buttonContainer
  display: flex
  justify-content: flex-end
  height: 100%
  align-items: center
  color: #000000
  width: 40vw
