.navBar
  display: flex
  justify-content: center
  position: fixed
  top: 0px
  z-index: 100
  height: 5vh
  width: 100%
  background: #3900ac

body
  padding-top: 5vh

.project-restrictions
  position: relative
  width: 50vw
  height: 100%

.nav-items
  display: flex
  align-items: center
  height: 100%

.nav-header
  align-self: center
  margin-left: 10px
  font-size: 16px
  color: #e6e6e6
  font-family: Nunito-bold

.buttonContainer
  display: flex
  justify-content: flex-end
  align-items: center
  height: 100%
  width: 38vw
  color: #000000

.scroll-link
  margin-left: 4vw
  padding: none
  font-size: 12px
  font-family: nunito-bold
  color: #cac8c8
  cursor: pointer
.scroll-link:hover
  color: #1d1d1d

@media (max-width: 700px)
  .project-restrictions
    width: 90vw

  .nav-header
    font-size: 12px

  .buttonContainer
    width: 100vw
