.hourlyD-container
  height: 20rem
  width: 100%
  position: absolute
  bottom: 0px
  display: flex
  backdrop-filter: blur(5px)
  align-items: center
  opacity: 0
  animation: slide-up 2s forwards

@keyframes slide-up
  0%
    opacity: 0
    transform: translateY(200px)
  100%
    opacity: 1
    transform: translateY(0px)

.hourlyD-bg
  background: rgb(56, 56, 56)
  opacity: .7
  width: 100%
  height: 100%
  position: absolute

.hourlyD-outer-container
  position: absolute
  display: flex
  width: 300%

.hourlyD-inner-container
  width: 25rem
  display: flex
  flex-direction: column
  align-items: center

.hourly-huge-arrows
  z-index: 4

.back-arrow
  position: absolute
  top: 7rem
  left: 7rem
  opacity: 0
  animation: fade-in 1s forwards 1.5s

.forward-arrow
  position: absolute
  top: 7rem
  right: 7rem
  opacity: 0
  animation: fade-in 1s forwards 1.5s

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

.D-time
  font-size: 1.5rem
.D-icon
.D-temp
  font-size: 1.8rem

.hourlyD-hr
  width: 100%
  margin-top: 1rem
  margin-bottom: 3rem
  opacity: 0
