.project-container
  position: absolute
  right: 25%
  width: 50vw

.possible-locations-btn
  overflow: hidden
  height: 3.2vh
  color: #868686
  border: 1px solid #000000

.possible-locations-btn:hover
  color: #131313

.possible-locations-btn:active
  color: #7811d8

.error-length
  color: #b40101

@media (max-width: 1300px)
  .project-container
    width: 60vw
    right: 20vw

@media (max-width: 1000px)
  .project-container
    width: 70vw
    right: 15vw

@media (max-width: 700px)
  .project-container
    width: 100vw
    right: 0px

