.p
  padding: 5px
  color: #494949
.data
  height: 1000px

.data:hover
  height: 0px
  transition: height 1s

.more-data
  height: 0px
  overflow: hidden
  transition: height .5s

.more-data-open
  height: 18vh
  transition: height 1s
