.rainImage
  background-image: url('../assets/images/rain.jpg')
  background-size: cover
  height: 67vh
  width: 70vw

.rainBg
  background: rgba(0, 0, 0, .7)
  z-index: 1
  height: 100%
  width: 100%

.infoIcons

.divInfoIcons
  padding-left: 3vw
  padding-right: 3vw

.degreesStyle
  color: #f80053
  font-family: Nunito-Bold
  font-size: 20px

.timeStyle
  color: #a0a0a0

.mainTempCircle
  background-color: #941717
  justify-content: center
  align-items: center
  display: flex

.iconsWeather
  color: linear-gradient(139deg, rgba(230,0,0,1) 0%, rgba(108,20,195,1) 29%, rgba(38,38,38,1) 100%)

.p
  padding: 5px
  color: #494949

.hourlyContainer
  display: flex
  flex-direction: row
  justify-content: center

.backgroundContainer
  background-color: #1a1a1a

.optionsText
  height: 30px
  font-family: Nunito-bold
  color: #827f7f
  font-size: 18px
  padding: 20px
  width: 12vw

.optionsOn
  color: #d8d8d8
  font-size: 19px

.textBelow
  height: 0px
  overflow: hidden
  transition: height .3s .7s
  font-family: Nunito-bold
  font-size: 30px
  color: #616161

.textOn
  transition: height .7s
  height: 30px

.optionsText:hover
  color: #d8d8d8
  font-size: 19px

.lineOff
  height: 1px

.lineOn
  height: 1px

.dailyContainer
  width: 16vw
  border-style: solid
  border-color: #4b4b4b
  border-width: 1px
  border-radius: 5px
  background: rgba(53, 1, 158, .0)
  transition: 0.2s linear

.dailyContainer:hover
  opacity: 1
  transition: 0.5s linear
  background: #35019e

.iconnn
  color: #ffffff

.iconnn:hover
  opacity: 1
  transition: 0.5s linear
  color: #ebdb00

.Hourly

.Hourly:active
  opacity: .3
  height: 18vh
  transition: height 1s ease-in 2s
  // transition: 0.5s linear
  background: #35019e

.containerInfoHourly
  color: #cccccc
  background-color: #2e2e2e
  display: flex
  height: 18vh
  justify-content: center
  overflow: hidden

.data
  height: 100px

.data:active
  height: 0px
  transition: height 1s

.more-data
  height: 0px
  overflow: hidden
  transition: height .5s

.more-data-open
  height: 18vh
  transition: height 1s
