.mainText
  vertical-align: bottom
  position: absolute
  left: 30%
  z-index: 2

.homeWeatherDailyS
  height: 2
  align-items: center
  display: flex

.homeImage
  background-image: url('../../assets/images/dubai.jpg')
  background-size: cover
  height: 67vh
  width: 25vw
  margin-left: 5vw
  vertical-align: bottom
  opacity: 70%
  position: relative
  text-align: center
  z-index: 0

.homeBg
  background: #000000b3
  z-index: 1
  height: 100%
  width: 100%
