@font-face
  font-family: 'Nunito-Bold'
  src: local('Nunito-Bold.ttf'), url('./assets/fonts/Nunito-Bold.ttf') format('trueType')

.body
  display: flex
  background: #c00303

h1
  font-family: Nunito-Bold
  
h2
  font-family: Nunito-Bold

h3
  font-family: Nunito-Bold

h4
  font-family: Nunito-Bold

h6
  color: #9b0d0d
  font-size: 16px
  margin: -10px
  font-family: Nunito-Bold

h5
  color: #cecece
  font-size: 16px
  margin: -10px
  font-family: Nunito-Bold

.iconStyles
  padding-left: 1.5vw
  padding-bottom: 30px
