@font-face
  font-family: 'Nunito-Bold'
  src: local('Nunito-Bold.ttf'), url('./assets/fonts/Nunito-Bold.ttf') format('trueType')
@font-face
  font-family: 'Nunito-Light'
  src: local('Nunito-Lifht.ttf'), url('./assets/fonts/Nunito-Light.ttf') format('trueType')
@font-face
  font-family: 'Nunito-LightI'
  src: local('Nunito-LifhtItalic.ttf'), url('./assets/fonts/Nunito-LightItalic.ttf') format('trueType')
@font-face
  font-family: 'Nunito-Reg'
  src: local('Nunito-Regular.ttf'), url('./assets/fonts/Nunito-Regular.ttf') format('trueType')
@font-face
  font-family: 'Oleo-Reg'
  src: local('OleoScript-Regular.ttf'), url('./assets/fonts/OleoScript-Regular.ttf') format('trueType')
@font-face
  font-family: 'Oleo-Bold'
  src: local('OleoScript-Bold.ttf'), url('./assets/fonts/OleoScript-Bold.ttf') format('trueType')

*, html
  padding: 0
  margin: 0

// ::-webkit-scrollbar
//   width: 0px

html
  font-size: 62.5%

body
  background: url('https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')
  background-size: cover
  overflow-x: hidden

p
  color: #cecece
  font-family: Nunito-Light
