.navContainer
  position: relative

.navImage
  background-image: url('../../assets/images/dubai.jpg')
  background-size: cover
  background-position: center
  height: 33vh
  width: 95vw
  margin-left: 5vw
  object-fit: cover
  vertical-align: bottom
  z-index: 0

.navBg
  background: #eb0000b3
  z-index: 1
  height: 33vh
  width: 95vw
  position: absolute
  right: 0px
