.input-dropdown
  position: absolute
  margin-top: 30rem
  margin-right: 13rem
  background-color: #e0dede
  width: 27.5rem
  overflow: hidden

.possible-locations-btn
  overflow: hidden
  height: 2.5rem
  font-size: 1.6rem
  color: #696969
  border: .1px solid #bebcbc
 
.possible-locations-btn:hover
  color: #131313

.possible-locations-btn:active
  color: #7811d8

@media (max-width: 1000px)
  .input-dropdown
    margin-right: 13rem
    width: 19rem

@media (max-width: 650px)
  .input-dropdown
    margin-right: 10rem
    width: 14.5rem






