.input-dropdown
  position: absolute
  margin-top: 40vh
  margin-right: 8.5vw
  background-color: #e0dede
  width: 36%
  overflow: hidden

.possible-locations-btn
  overflow: hidden
  height: 3.2vh
  color: #696969
  border: .1px solid #bebcbc

.possible-locations-btn:hover
  color: #131313

.possible-locations-btn:active
  color: #7811d8
