.search-container
  display: flex
  justify-content: center
  align-items: center
  height: 20vh
  position: relative

.long-input
  text-align: center
  color: #d8d8d8
  height: 3.8rem
  width: 35rem
  border-radius: 5px
  border: none
  background-color: #454546 
.long-input:focus
  outline: 0

.error-length
  color: #b40101
  position: absolute
  margin-left: 5vw
  font-size: 2rem

button
  margin-left: 3.8rem
  height: 3.8rem
  width: 12rem
  background-color: #e8c606
  border-radius: 10px
  border: none 
  color: #1f1e1e
  cursor: pointer

button:focus
  outline: 0

@media (max-width: 1000px)
  .long-input
    width: 25rem
  button
    width: 12rem
@media (max-width: 650px)
  .long-input
    width: 18rem