.search-container
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  background-color: #262626
  height: 20vh

.long-input
  text-align: center
  color: #c00000
  height: 30px
  width: 280px
  border-radius: 5px
  border: none
  background-color: #454546

.short-input
  text-align: center
  color: #c00000
  height: 30px
  width: 200px
  border-radius: 5px
  border: none
  background-color: #454546

button
  margin-left: 30px
  height: 30px
  width: 100px
  background-color: #6732e4
  border-radius: 10px
  border: none
