.search-container
  display: flex
  justify-content: center
  align-items: center
  height: 20vh
  position: relative

.long-input
  text-align: center
  color: #d8d8d8
  height: 3.8rem
  width: 35rem
  border-radius: 5px
  border: none
  background-color: #454546
  animation: slide-right 1s forwards 2s
  opacity: 0
.long-input:focus
  outline: 0

@keyframes slide-right
  0%
    opacity: 0
    transform: translateX(-300px) skewX(20deg)
  100%
    opacity: 1
    transform: translateX(0px) skewX(0deg)

.error-length
  color: #b40101
  position: absolute
  margin-left: 5vw
  font-size: 2rem
  animation: error-appear 1s forwards 3s
  opacity: 0

@keyframes error-appear
  0%
    opacity: 0
  100%
    opacity: 1

button
  margin-left: 3.8rem
  height: 3.8rem
  width: 12rem
  background-color: #F6EE8A
  border-radius: 10px
  border: none
  color: #1f1e1e
  cursor: pointer
  animation: slide-left 1s forwards 2s
  opacity: 0

button:focus
  outline: 0

@keyframes slide-left
  0%
    opacity: 0
    transform: translateX(300px) skewX(20deg)
  100%
    opacity: 1
    transform: translateX(0px) skewX(0deg)

@media (max-width: 1000px)
  .long-input
    width: 25rem
  button
    width: 12rem
@media (max-width: 650px)
  .long-input
    width: 18rem
